:root {
  --stripe-size: 100px;
  --color1: #622082;
  --color2: #111;
  --duration: 0.4s;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto auto 1fr;
  height: 100vh;
  background-color: black;
  overflow-x: hidden;
}

iframe {
  grid-column-start: 2;
  grid-row-start: 2;
  clip-path: inset(4.81em -100px);
}

p {
  font-family: "Brenner Sans";
  font-size: 25px;
  color: white;
}

.p0.on {
  color: white;
}

#closed-captions {
  grid-column-start: 2;
  grid-row-start: 3;
}

#closed-captions p {
  opacity: 0;
  transition: .05s;
  position: absolute;
  transform: translateY(-80px);
}

#closed-captions .on {
  opacity: 1;
}

#closed-captions .off {
  transition: .2s;
  opacity: 0;
}

/* Alle voices */
.voice1 {
  font-family: "Brenner Mono";
  font-style: Normal;
  font-weight: 400;
}

.voice2 {
  font-family: "Brenner Sans";
  font-style: Normal;
  font-weight: 400;
  text-align: right;
  width: 1024px;
}

#closed-captions p.fuckoff {
  font-family: "Brenner Sans";
  font-style: Normal;
  font-weight: 800;
  width: 204px;
  font-size: 20px;
  transform: translateY(-430px) translateX(200px);
  color: red;
}

.voice3 {
  font-family: "Brenner Sans";
  font-style: Normal;
  font-weight: 800;
}

.voice4 {
  font-family: "Brenner Slab";
  font-style: Normal;
  font-weight: 400;
}

/* Alle aparte woorden */
.p52.on span:nth-of-type(13) {
  font-style: italic;
  font-family: "Brenner Sans Condensed";
}

.p54.on span {
  font-style: italic;
}

.p54.on span:nth-of-type(1) {
  font-style: normal;
  font-family: "Brenner Slab";
}

.p54.on span:nth-of-type(12) {
  color: pink;
}

.p61.on span:nth-of-type(8) {
  font-style: oblique;
  font-family: "Brenner Sans Condensed";
}

.p65.on span {
  font-size: 30px;
}

.p67.on span {
  font-style: oblique;
  font-size: 30px;
}

.p71.on span {
  font-size: 30px;
}

.p73.on span {
  font-size: 30px;
}

.p75.on span {
  font-size: 30px;
}

.p77.on span {
  font-size: 35px;
}

/* Alle Sounds */

.sound1 {
  animation: none;
  background-color: black;
  background: black;
}

.sound0 iframe {
  box-shadow: 0px 0px 0px darkorchid;
}

.sound1 iframe {
  transition: box-shadow 1s;
  box-shadow: 0px 0px 300px darkorchid;
}

.sound2 iframe {
  box-shadow: 0px 0px 0px black;
  box-shadow: none;
}

/* Code van Yusuke Nakaya https://codepen.io/YusukeNakaya/pen/xNdvKW */
.sound3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + var(--stripe-size));
  height: 100%;
  background: repeating-linear-gradient(45deg,
      var(--color2) 25%,
      var(--color2) 50%,
      var(--color1) 50%,
      var(--color1) 75%);
  background-size: var(--stripe-size) var(--stripe-size);
  animation: stripeTransform var(--duration) linear infinite;
}

.sound3::after {
  content: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.sound4::before {
  content: none;
}

.sound4::after {
  content: none;
}

.sound6, .sound10, .sound13 {
  background-color: black;
  -webkit-animation-name: whiteFlash;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.sound6 iframe, .sound10 iframe, .sound13 iframe {
  -webkit-animation-name: shakeAnim;
  -webkit-animation-duration: 0.2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.sound7 iframe, .sound11 iframe, .sound14 iframe {
  -webkit-animation-name: none;
}

.sound7 {
  -webkit-animation-name: none;
  background-color: black;
}

.sound10 {
  background-color: black;
  -webkit-animation-name: whiteFlash;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.sound10 iframe {
  -webkit-animation-name: shakeAnim;
  -webkit-animation-duration: 0.2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.sound11 iframe {
  -webkit-animation-name: none;
  transition: transform 55s;
}

.sound11 {
  -webkit-animation-name: none;
  background-color: black;
}

.sound12 iframe {
  transform: scale(0.6);
}

/* Code van Mathieu S. https://codepen.io/iceable/pen/yLBrZOd */
.bg-noise {
  pointer-events: none;
  filter: contrast(200%) brightness(10);
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('https://pngimage.net/wp-content/uploads/2018/06/noise-png-5.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .200s infinite;
  opacity: 0;
  visibility: visible;
}

.sound13 .bg-noise {
  transition: opacity 55s;
  opacity: 1;
}

.sound13 {
  background-color: black;
  -webkit-animation-name: whiteFlash;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.sound13 iframe {
  -webkit-animation-name: shakeAnim;
  -webkit-animation-duration: 0.2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.sound14 iframe {
  -webkit-animation-name: none;
}

.sound14 {
  -webkit-animation-name: none;
  background-color: black;
}

.sound15 {
  transition: background-color 55s;
  background-color: white;
}

.sound15 p.on span {
  background-color: black;
}

.sound15 p.p44.on span {
  color: black;
  background-color: transparent;
}

.sound16 .bg-noise {
  opacity: 0;
  transition: opacity 1s;
}

.sound17 iframe {
  transition: transform 0s;
  transform: scale(1);
}

.sound17 {
  transition: background-color 0s;
  background-color: transparent;
}

.sound17 p.on span {
  color: black;
  background-color: transparent;
}

.sound18 {
  background: linear-gradient(45deg, #444, #666, #000, #000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.sound18 iframe {
  -webkit-animation-name: floatShake;
  -webkit-animation-duration: 10s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

.sound18 p.on span {
  color: white;
}

.sound19 iframe{
  -webkit-animation-name: shakeAnimSmall;
  -webkit-animation-duration: 0.2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.sound20 iframe{
  -webkit-animation-name: none;
}

.sound21 {
  animation: none;
  background-color: black;
  background: black;
}

.sound21 iframe {
  animation: none;
}

@-webkit-keyframes whiteFlash {
  0% {
    background-color: white;
  }

  100% {
    background-color: black;
  }
}

/* Code van Ghost Rider https://codepen.io/GhostRider/pen/bGEZNz?css-preprocessor=scss */
@-webkit-keyframes floatShake {
  0% {
    -webkit-transform: translate(9px, 5px)
  }

  20% {
    -webkit-transform: translate(-13px, -1px)
  }

  40% {
    -webkit-transform: translate(4px, -5px)
  }

  60% {
    -webkit-transform: translate(-13px, 5px)
  }

  80% {
    -webkit-transform: translate(-5px, -5px)
  }

  100% {
    -webkit-transform: translate(9px, 5px)
  }
}

@-webkit-keyframes shakeAnim {
  0% {
    -webkit-transform: translate(4px, 2px) rotate(0deg);
  }

  10% {
    -webkit-transform: translate(-2px, -4px) rotate(-1deg);
  }

  20% {
    -webkit-transform: translate(-6px, 0px) rotate(1deg);
  }

  30% {
    -webkit-transform: translate(0px, 4px) rotate(0deg);
  }

  40% {
    -webkit-transform: translate(2px, -2px) rotate(1deg);
  }

  50% {
    -webkit-transform: translate(-2px, 4px) rotate(-1deg);
  }

  60% {
    -webkit-transform: translate(-6px, 2px) rotate(0deg);
  }

  70% {
    -webkit-transform: translate(2px, 2px) rotate(-1deg);
  }

  80% {
    -webkit-transform: translate(-2px, -2px) rotate(1deg);
  }

  90% {
    -webkit-transform: translate(4px, 4px) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(2px, -4px) rotate(-1deg);
  }
}

@-webkit-keyframes shakeAnimSmall {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-0.5deg);
  }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(0.5deg);
  }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(0.5deg);
  }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-0.5deg);
  }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    -webkit-transform: translate(1px, 1px) rotate(-0.5deg);
  }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(0.5deg);
  }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-0.5deg);
  }
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -5%)
  }

  20% {
    transform: translate(-10%, 5%)
  }

  30% {
    transform: translate(5%, -10%)
  }

  40% {
    transform: translate(-5%, 15%)
  }

  50% {
    transform: translate(-10%, 5%)
  }

  60% {
    transform: translate(15%, 0)
  }

  70% {
    transform: translate(0, 10%)
  }

  80% {
    transform: translate(-15%, 0)
  }

  90% {
    transform: translate(10%, 5%)
  }

  100% {
    transform: translate(5%, 0)
  }
}

/* Code van Manuel Pinto https://codepen.io/P1N2O/pen/pyBNzX */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes stripeTransform {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(var(--stripe-size) * -1));
  }
}

@keyframes stripeBackgroundPosition {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: calc(var(--stripe-size) * -1) 0;
  }
}
